:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #efefef;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

header nav#menu ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

header nav#menu ul a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;

    transition: all 0.5s ease-in-out;
}

header nav#menu ul a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

main section#ficha {
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

main section#ficha img.foto {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
}

main section#ficha h1 {
    color: var(--destaque);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: left;
}

main section#ficha div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    margin-top: 15px;
    gap: 1em;
}

main section#ficha div#social a {
    color: var(--destaque);
    transition: all 0.5s ease-in-out;
}

main section#ficha div#social a:hover {
    color: var(--destaque-inverso);
}

main section#detalhes {
    grid-column: 2;
}

main section#detalhes h2 {
    color: var(--destaque);
}

main section#detalhes article {
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

main section#detalhes article#skills div#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

main section#detalhes article#skills div#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section#detalhes article#skills div#skill-container .nome {
    margin-top: 10px;
    font-weight: bold;
    color: var(--texto);
}

main section#detalhes article#skills div#skill-container .porcent {
    font-weight: bold;
    color: var(--destaque);
}

main section#detalhes article#skills div#skill-container .barra {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--fundo-principal);
}

main section#detalhes article#skills div#skill-container .progresso {
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    main section#detalhes article#skills div#skill-container {
        grid-template-columns: 1fr 1fr;
    }
}